<%= render 'layouts/messages' %>
<% if @friends and @friends.length != 0 %>
  <div class="segment">
    <table class="ui celled table wrap-content">
      <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><strong>Name:</strong><%= friend.username %></td>
          <td class="flex"><strong>Actions:</strong>
            <% if current_user.not_friends_with?(friend) %>
              <%= form_for friend, url: friendships_path(friend: friend), method: :post do |f| %>
                <span class="mr-2">Mark as family?</span>
                <%= f.check_box :is_family, class: "ui checkbox" %>
                <%= f.submit "Add as friend", class: "mini ui button label-width"%>
              <% end %>
              <% else %>
              <label class="ui label ml-auto">You are already friends</label>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>