<h1><%= obj == @family ? "Family members" : "Friends" %></h1>
  <table class="celled table wrap-content">
    <thead>
    <tr>
      <th>Username</th>
      <th class="wide">Actions</th>
    </tr>
    </thead>
    <tbody>
      <% obj.each do |f| %>
      <tr>
        <td class="label-width"><%= f.username %></td>
        <td>
          <div class="three ui buttons">
            <%= link_to "Remove friend", friendship_path(f), method: :delete, data: {confirm: "Are you sure?"},
                        class: "ui red button"%>
            <%= link_to obj == @family ? "Remove from family" : "Add to family",
                        toggle_family_path(friend: f), method: :post, class: "ui blue button" %>
            <%= link_to "Private chat", private_channel_path(friend: f), class: "ui grey button" %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
